.filters{
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.filters button{
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border: 0;
    opacity: 90%;
    margin-right: 30px;
}

.filters button:hover{
    opacity: 90%;
}

.locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    text-align: left;
    position: relative;
}

.amenities{
    height: 100%;
    width: 25%;
    text-align: left;
    position: relative;
}

.empty{
    background-color:bisque;
    width: 30%;
    opacity: 0;
}

.filters h3{
    font-weight: 600;
    padding-left: 20%;
    margin-bottom: -15px;
}

.filters h4{
    padding-left: 20%;
    font-weight: 400;
    font-size: 14px;
}
.filters h2{
    margin-bottom: 0;
}
.filters li{
    list-style-type: none;
    padding: -10px;
    margin-bottom: 5px;
}

.locations .popover{
    margin-top: 0px;
    background-color:  #FAFAFA;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    width: 83%;
    padding-bottom: 10%;
    display: none;
}
.locations:hover .popover {
    display: block;
}
.amenities .popover{
    padding-top: 20px;
    margin-top: 0px;
    background-color:  #FAFAFA;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    width: 83%;
    padding-bottom: 10%;
    display: none;
}
.amenities:hover .popover {
    display: block;
}