header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header__logo{
    margin-left: 20px;
}