.places h1 {
    font-size: 30px;

}
.places h2{
    text-align: center;
    font-size: 30px;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
}

.places article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}